*{
  padding: 0;
  margin: 0;
}

:root{
  --Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
  --Desaturated-Dark-Blue: hsl(214, 17%, 51%);
  --Grayish-Blue: hsl(212, 23%, 69%);
  --Light-Grayish-Blue: hsl(210, 46%, 95%);
  --white:#ffffff;
  --font-family: 'Poppins', sans-serif;
}


body{
  background-color: var(--Light-Grayish-Blue);
  font-family: var(--font-family);
}

.l-header{
  display: block;
  width: 100vw;
  height: 100vh;
  position: absolute;
}

.l-container{
 width: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
 padding: 4rem 0 ;
}

.c-hero__image{
  max-width: 350px;
  max-height: 100%;
}

.l-content__wrapper{
  width: 56rem;
  background-color: var(--white);
  display: flex;
  height: auto;
  box-shadow: 3px 10px 15px rgba(0, 0, 0, 0.281);
}

.l-text__wrapper{
  padding: 24px 40px;
}
.c-h1{
  font-size: 1.5rem ;
  color: var(--Desaturated-Dark-Blue);
  margin-bottom: 1rem;
}

.c-paragraph{
  font-size: 14px;
  color: var(--Grayish-Blue);
  margin-bottom: 1rem;

}

.l-contribuitor__wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.l-rigth_-block{
  display: flex;
  align-items: center;
}

.c-profile__image{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 12px;
}

.c-h2{
  font-size: 14px;
  color: var(--Desaturated-Dark-Blue);
}

.c-date{
  font-size: 14px;
  color: var(--Grayish-Blue);
}

.l-links__wrapper{
  display: flex;
  position: absolute;
  top: -120%;
  right: -25%;  
}

.c-share{
  display: block;
  margin: 16px;
}

.c-share__text{
  color: var(--Grayish-Blue);
  text-transform: uppercase;
}

.l-links__wrapper{
  display: none;
}
.l-links__list{
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0 40px;
  border-radius: 8px;
}

.c-social__image{
  margin: 16px;
}

.c-arrow{
  width:25px;
  height: 25px;
  cursor: pointer;
  background-color: var(--white);
  padding: 10px;
  border-radius: 50%;
}

@media screen and (max-width: 920px) {
  .l-content__wrapper{
    display: flex;
    flex-direction: column-reverse;
    width: 28rem;
  }

  .c-hero__image{
    max-width: 40rem;
    max-height: 100%;
  }

  .l-links__wrapper{
    top: 0%;
    left: -10.8%;
  }

  .l-links__list{
    width: 23rem;
  }
}

@media screen and (max-width: 480px) {
  .l-content__wrapper{
    flex-direction: column;
    width: 22rem;
    
  }

  .l-links__wrapper{
    left: -14.8%;
  }

  .l-links__list{
    width: 17rem;
  }
}

@media screen and (max-width: 375px) {
  .l-content__wrapper{
    flex-direction: column;
    width: 20rem;
    margin: 16px;
  }

  .l-links__wrapper{
    left: -16.5%;
  }

  .l-links__list{
    width: 15rem;
  }
}