*{
  padding: 0;
  margin: 0;
}

:root{
  --Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
  --Desaturated-Dark-Blue: hsl(214, 17%, 51%);
  --Grayish-Blue: hsl(212, 23%, 69%);
  --Light-Grayish-Blue: hsl(210, 46%, 95%);
}


body{
  background-color: var(--Light-Grayish-Blue);
}

.c-hero__image{
  width: 300px;
  border-radius: 50%;
}

.c-h1{
  font-size: 3rem ;
  color: var(--Desaturated-Dark-Blue);
}

.l-links__wrapper{
  background-color: grey;
}